body{
	background-color: #D6DBDF;
	margin:0 auto;
	
}
a{
	text-decoration: none;
	color: blue;

}
.nav{
	display: flex;
	background-color: #D6DBDF;
	margin: 5px;
}
.nav1{
	display: block;
	border: 1px solid #D6DBDF;
	width: 10%;
	height: 30px;
	margin-top: 2px;
	text-align: center;
	background-color: white;
}
.nav1:hover{
	background-color: #D6DBDF;

}
.photos{
	margin: 10px;
	display: flex;
	justify-content: space-between;
	
}

.maincontainer{


}

.main{

	display: flex;
	flex-direction: row;
	width: 70%;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;
}
	

.leftad{
	display: flex;
	flex-direction: row;
	width: 15%;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;

}
.rightad{
	display: flex;
	flex-direction: row;
	width: 15%;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;

}



.left{
	display: flex;
	flex-direction: column;
	width: 20%;
}
.center{
	display: flex;
	flex-direction: column;
	width: 80%;
}
.tn{
	background-color: white;
	width: 474px;

}
.tn1{
	border: 1px solid rgb(214, 219, 223);
	height: 40px;
	text-align: center;
	font-weight: bolder;
	
}
.rank{
	display: flex;
	flex-direction: column;
	width: 145px;
}
.r{
	background-color: white;
	border: 1px solid rgb(214, 219, 223);
	height:25px;
}
.event{
		display: flex;
	flex-direction: column;
	width: 145px;
}
.e1{
	background-color: white;
	border: 1px solid rgb(214, 219, 223);
	height:25px;

}
.gall{
	display: flex;
	flex-direction: column;
	width: 145px;
}

.gall2{
	background-color: white;
	
	height:35px;
}
.logo{
	margin-left: 180px;
}
.ad2{
	margin-right: 185px;
}
.ad3{
	margin-top: 5px;
}
.right{
	display: flex;
}
.tm{
	display: flex;
	flex-direction: column;
	width: 235px;
	margin-left: 40px;
}
.tm1{
	display: block;
	border:1px solid #D6DBDF;
	background-color: blue; 
	font-weight: bold;
	color: white;
}
.matcht{
	display: block;
	border: 1px solid #D6DBDF;
	background-color: white;
	text-align: center;
}
.ra{
	display: flex;
	flex-direction: column;
}
.ra1{
	display: block;
	border: 1px solid #D6DBDF;
	background-color: white;
	text-align: center;
	height: 25px;
}
.rr{
	display: flex;
	flex-direction: column;
	width: 235px;
	margin-left: 35px;
}
.lr{
	display: flex;
	flex-direction: column;
	margin-top: 10px
}
.lr1{
	display: block;
	border: 1px solid #D6DBDF;
	background-color: white;
	text-align: center;
}
.ad4{
	padding-top: 20px;
}

{box-sizing:border-box}

/* Slideshow container */
		.slideshow-container {
		  max-width: 476px;
		  position: relative;
 		 margin: auto;
		}

/* Hide the images by default */
		.mySlides {
		  display: none;
		}



/* The dots/bullets/indicators */
		.dot {
 		 
 		 position: static;
 		 top: 5px;
 		 height: 15px;
 		 width: 15px;
 		 margin: 0 2px;
 		 background-color: #565758;
 		 border-radius: 50%;
 		 display: inline-block;
 		 transition: background-color 0.6s ease;

		}

		.active {
 		 background-color: #FFFCFC;
		}

/* Fading animation */
		.fade {
 		 -webkit-animation-name: fade;
 		 -webkit-animation-duration: 1.5s;
 		 animation-name: fade;
 		 animation-duration: 1.5s;
		}

		@-webkit-keyframes fade {
 		 from {opacity: .4} 
 		 to {opacity: 1}
		}

		@keyframes fade {
 		 from {opacity: .4} 
 		 to {opacity: 1}
		}

		.dotsbox{
	 	 position: absolute;
	 	 top: 88%;
  		 left: 45%;
  		 
	 	 height: 26px;
 		 width: 80px;
 		
 		 

		}


/* MAIN PAGE */



/* CONTACT US PAGE */

.contactform2{
 		 	border: 1px solid white;
 		 	position: absolute;
			    height: 100px;
			    width: 400px;
			    margin: -100px 0 0 -200px;
			    top: 40%;
			    left: 50%;
				text-align: center;
			  

 		 }
		.contactform{
			border: 1px solid white;
			   position: absolute;
			    height: 300px;
			    width: 400px;
			    margin: -100px 0 0 -200px;
			    top: 65%;
			    left: 50%;
				text-align: center;
		}
		#input1{
			margin-top: 5px;
		}



		.li{ list-style:none;
		}

/* CONTACT US PAGE */





/* ABOUT US PAGE */

		.maincontent{
		
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: stretch;
		align-content: center;
		}

		.top{
  		align-items: center;
    	color: rgb(74,157,190);
    	display: flex;
    	justify-content: center;
    	background-color: rgb(11, 88, 118);
    	flex-grow: 1;
    	flex-shrink: 1;
    	width: 100%;
    	height: 300px;
		}

		.bottom{
	    align-items: center;
	    color: rgb(255, 255, 255);
    	display: flex;
	    justify-content: center;
    	background-color: rgb(255, 200, 80);
	    flex-grow: 1;
    	flex-shrink: 1;
	    width: 100%;
    	height: 100%;
		}


/* ABOUT US PAGE */